<h1><strong>Sales Performance Analysis</strong></h1>

<h2><strong>Loading The Required Libraries</strong></h2>

In [1]:
import numpy as np
import matplotlib.pyplot  as plt
import pandas as pd
import seaborn as sns

<h2><strong>Loading The Required DataSet</strong></h2>

In [2]:
df = pd.read_excel(r"C:\Users\USER\Documents\Course Work\practice questions\Copy of wfshg (1).xlsx")
df.describe()

,Date,Units Sold,unit_price,Profit per unit,Export Value
count,1000,1000.000000,1000.000000,1000.000000,1.000000e+03
mean,2021-12-30 07:03:21.599999744,536.804000,30010.266660,6125.299550,1.631766e+07
min,2020-01-05 00:00:00,103.000000,10006.540000,2000.300000,1.323777e+06
25%,2021-01-03 00:00:00,322.750000,20013.620000,4261.327500,7.669552e+06
50%,2021-12-25 00:00:00,519.000000,30082.600000,6132.150000,1.441451e+07
75%,2022-12-31 00:00:00,743.250000,39955.005000,8038.315000,2.262969e+07
max,2023-12-30 00:00:00,999.000000,49985.860000,9990.570000,4.712082e+07
std,NaN,251.311112,11515.423486,2269.844681,1.028734e+07

<h2><strong>Checking The DataSet</strong></h2>

In [7]:
df

,Product Name,Company,Export Country,Date,Units Sold,unit_price,Profit per unit,Export Value,Destination Port,Transportation Mode
0,Rubber,Farmgate Nigeria Limited,Austria,2023-11-16,721,31443.05,5863.92,22670439.05,Lagos,Sea
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,2021-01-08,881,23151.97,5868.73,20396885.57,Lagos,Sea
2,Cassava,Farmgate Nigeria Limited,Germany,2020-10-14,702,18536.45,5105.01,13012587.90,Calabar,Sea
3,Rubber,Nigerian Export Promotion Council (NEPC),Belgium,2022-12-31,191,21981.31,7781.54,4198430.21,Warri,Sea
4,Sesame,Nigeria Agro Export Company,France,2022-12-19,373,13415.94,9590.95,5004145.62,Lagos,Sea
...,...,...,...,...,...,...,...,...,...,...
995,Cashew,Nigeria Agro Export Company,Netherlands,2023-06-11,730,49937.99,9149.40,36454732.70,Warri,Sea
996,Rubber,Agro Export Nigeria Ltd,Sweden,2023-11-01,952,15607.62,5086.57,14858454.24,Lagos,Sea
997,Rubber,Agro Allied Exporters Nigeria Limited,Netherlands,2023-08-06,447,49544.50,6381.92,22146391.50,Lagos,Sea
998,Cashew,Greenfield Agro Exporters Nigeria Limited,Germany,2023-03-05,315,42814.92,6620.22,13486699.80,Lagos,Sea
999,Cassava,Nigeria Agro Export Company,Denmark,2020-08-09,504,10656.58,9979.02,5370916.32,Lagos,Sea

<h2><strong>Finally, All The Required Performance Analysis From The DataSet</strong></h2>

In [10]:
total_units_per_product = df.groupby('Product Name')['Units Sold'].sum()
highest_total_units_per_product = total_units_per_product.idxmax()
highest_total_units_per_product

'Sesame'

In [14]:
units_sold_per_company = df.groupby('Company')['Units Sold'].sum()
percentage_contribution = (units_sold_per_company/units_sold_per_company.sum())*100
percentage_contribution

Company
Agriplus Nigeria Limited                      9.712856
Agro Allied Exporters Nigeria Limited         8.793526
Agro Export Nigeria Ltd                      11.166832
Farmgate Nigeria Limited                      9.688825
Golden Farms Nigeria Limited                 11.312136
Greenfield Agro Exporters Nigeria Limited     9.432307
Nigeria Agro Export Company                  10.193106
Nigerian Export Promotion Council (NEPC)     10.401003
Prime Agro Exports Nigeria Limited            9.693482
Solid Agro Nigeria Limited                    9.605927
Name: Units Sold, dtype: float64

In [15]:
units_sold_per_destination_port = df.groupby('Destination Port')['Units Sold'].sum()
highest_unit_sold_for_destination_port = units_sold_per_destination_port.idxmax()
highest_unit_sold_for_destination_port

'Lagos'

In [16]:
avg_unit_price_per_product = df.groupby('Product Name')['unit_price'].mean()
print('Average unit price per product:\n',avg_unit_price_per_product)

Average unit price per product:
 Product Name
Cashew      29305.853237
Cassava     28566.641833
Cocoa       31227.870000
Ginger      29061.767327
Palm Oil    30126.338306
Plantain    30200.084754
Rubber      31673.915680
Sesame      29678.281729
Name: unit_price, dtype: float64

In [17]:
export_value_per_company = df.groupby('Company')['Export Value'].sum()
highest_company_with_export_value = export_value_per_company.idxmax()
print('Company with highest export value:\n',highest_company_with_export_value)

Company with highest export value:
 Agro Export Nigeria Ltd

In [18]:
df['Profit'] = df['Profit per unit'] * df['Units Sold']
profit_per_product = df.groupby('Product Name')['Profit'].sum()
profit_per_product

Product Name
Cashew      4.386243e+08
Cassava     4.165035e+08
Cocoa       4.503514e+08
Ginger      3.366232e+08
Palm Oil    3.853921e+08
Plantain    3.877363e+08
Rubber      3.957313e+08
Sesame      4.774870e+08
Name: Profit, dtype: float64

In [19]:
product_with_highest_profit = profit_per_product.idxmax()
product_with_highest_profit

'Sesame'

In [21]:
product_profit_per_unit = df.groupby('Product Name')['Profit per unit'].sum()
product_with_most_profit_per_unit = product_profit_per_unit.idxmax()
product_with_most_profit_per_unit

'Cashew'

In [22]:
export_value_per_country = df.groupby('Export Country')['Export Value'].sum()
country_with_most_export_value = export_value_per_country.idxmax()
country_with_most_export_value

'Italy'

In [ ]:
df['Year'] = df['Date'].dt.year

In [25]:
units_per_year = df.groupby('Year')['Units Sold'].sum()
print('Units sold per Year\n', units_per_year)

Units sold per Year
 Year
2020    132765
2021    142577
2022    125872
2023    135590
Name: Units Sold, dtype: int64

In [ ]:
year_with_most_exports = units_per_year.idxmax()
year_with_most_exports

np.int32(2021)